.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gridList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 14;
}
.visibility {
  width: 20%;
  height: 20%;
  font-weight: 'bold';
}
.gridTile {
  cursor: pointer;
  cursor: hand;
  width: 100%;
  height: 100%;
}
.buyItem {
  float: right;
  margin-right: 2%;
}
@media only screen and (max-device-width: 480px) {
  .gridTile {
    cursor: pointer;
    cursor: hand;
    width: 100%;
    height: 100%;
  }
}
