.accordion {
   background-color: transparent;
   margin: auto;
   margin-top: 50px;
   overflow-y: hidden;
}

.title {
  height: 30px;
  color: black;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
  position: relative;
  padding: 10px;
  z-index: 2000;
  font-family: Roboto, sans-serif;
  border-bottom: 1px;
  border-radius: 4px;
  margin-top: 2px;
  transition: all .2s ease-in;
}

.titleText {
  margin-left: 10px;
  font-weight: 500;
}

.title:hover {
  cursor: pointer;
}

.content {
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 1000;
  margin-top: -30px;
  text-align: left;
  transition: all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.contentOpen {
  margin-top: 0px;
  height: 100%;
  transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.contentText {
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.contentTextOpen {
  visibility: visible;
  opacity: 1;
  transition: all .8s ease-in;
}

.angleDown {
  font-size: 20px;
  color: rgba(255,255,255, .5);
  transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.faRotate {
  color: rgba(255,255,255, 1);
}

.arrowWrapper {
  position: absolute;
  margin-left: 375px;
}
