.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.appbar {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
}

.userInfoPane{
  position: relative;
  height: 157.43px;
  width: 100%;
  z-index: 1;
}

.stationList{
  position: relative;
  width: 100%;
}
@media only screen and (max-device-width: 480px) {
  .container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .userInfoPane{
    position: relative;
    width: 100%;
    z-index: 1;
    height:182px;
  }
  .stationList{
    position: relative;
    width: 100%;
  }
}
