.site-index .panorama{
    height: 600px;
}

body
{
	overflow			: hidden;
	margin 				: 0px;
	padding				: 0px;
}

#preview {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#previewContent {
	position: absolute;
	top: 0px;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


#home_area
{
	position: absolute;
	bottom: 10px;
	left: calc(50% - 25px);
	z-index: 99;
	color:black;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 10px white;
}

#home_area img
{
	width : 100%;
}

#logo
{
	position: absolute;
	width: 270px;
	z-index: 99;
	top: 120px;
	left: calc(50% - 135px);
	display: none;
}

#freevi
{
	width: 250px;
	margin-right: 10px;
	margin-left: 10px;
	background: transparent;
}

#map 
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;  	
}

#searchInput {
    position: absolute;
    background-color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    right: 12px;
    margin-top: 12px;
    padding: 5px 25px 5px 18px;
    text-overflow: ellipsis;
    width: 200px;
    z-index: 12;
    border-radius: 15px;
    outline: none;
}
#searchInput:focus {
    border-color: #4d90fe;
}

#clear_input
{
	position: absolute;
    cursor: pointer;
    display: block;
    top: 9px;
    right: 21px;
    font-size: 30px;
    display: none;
    z-index: 12;
}

.pac-logo:after
{
	display: none;
}

.pac-container
{
	border-radius: 5px;
}